@font-face {
    font-family: 'Stratum2-Bold';
    src: url('stratum2-bold.ttf');
}

@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('rajdhani-bold.ttf');
}

.app {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#canvas {
    border: 1px solid black;
}

#dummy {
    visibility: hidden;
    display: none;
}

input {
    width: 50px;
}

#refresh {
    margin-left: 10px;
}

.container {
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: 10px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}